.card-pop-up-background
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    background-size: 100% 100%
    width: 100vw
    height: 100vh
    background-color: #80808069
.card-pop-up
    position: relative
    display: flex
    flex-direction: column
    gap: 30px
    padding: 30px 40px
    width: 40vw
    height: 80vh
    overflow-y: scroll
    border: 1px solid #999
    border-radius: 30px
    background-color: white
    &__close
        position: absolute
        top: 10px
        left: 10px