.card-pop-up
    position: relative
    display: flex
    flex-direction: column
    gap: 30px
    padding: 30px 40px
    min-width: 30vw
    border: 1px solid #999
    border-radius: 30px
    background-color: white
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        padding: 8px 19px
        border-bottom: 1px solid #999999
    &__title
        font-size: 32px
    &__edit-card
        display: flex
        gap: 5px
    &__close
        position: absolute
        top: 10px
        left: 10px
    &__send-comment
        display: flex
        padding: 5px
        border: 1px solid #999999
        border-radius: 10px
    &__comment-input
        flex: 1
        height: 50px
