.column-header
    display: flex
    justify-content: space-between
    &__form
        display: flex
        justify-content: space-between
    &__input
        font-size: 16px
        font-weight: 400
        color: #757575
    &__title
        font-size: 16px
        font-weight: 400
        color: #757575
 
.column
    padding: 5px 9px
    border-radius: 5px
    background-color: #F6F6F6
    min-height: 60vh
    &__controls
        display: flex
        justify-content: end
    
    &__cards
        display: flex
        flex-direction: column
        gap: 10px
        