.PopUp-Wrapper
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    background-color: #80808069


.PopUp
    position: absolute
    display: flex
    flex-direction: column
    gap: 30px
    padding: 30px 40px
    min-width: 320px
    border-radius: 30px
    background-color: white

.PopUp-Heading
    font-size: 35px
    font-weight: 800
    color: #5f5f5f

.PopUp-UserName_Input
    padding: 10px 10px
    border: 1px solid #888888
    border-radius: 10px
    outline: none

.PopUp-UserName_RegisterBtn
    padding: 20px
    border: 0
    border-radius: 20px
    background-color: #ccfff8

.PopUp-UserName_RegisterBtn:hover
    cursor: pointer
    background-color: #b1fff5