.card-comments
    &__send-comment
        display: flex
        gap: 10px
        align-items: flex-end
        padding: 5px
        border: 1px solid #999999
        border-radius: 10px
    &__textarea
        flex: 1
        resize: none
        overflow-y: hidden
        min-height: 50px
        width: 100%
        border: 0
        font-family: inherit
        
    &__send-button
        padding: 5px
        border-radius: 3px
        background-color: #ccfff8
        &:hover
            cursor: pointer
            background-color: #b1fff5
    &__comments-block
        display: flex
        flex-direction: column
        gap: 10px