.card
    display: flex
    flex-direction: column
    gap: 22px
    padding: 11px 11px 4px
    border-radius: 10px
    word-break: break-all 
    background-color: white
    &:hover
        cursor: pointer
    &__header
        display: flex
        justify-content: space-between
    &__input
        font-size: 20px
        font-weight: 600
    &__title
        font-size: 20px
        font-weight: 600
    &__comments-description
        display: flex
        align-items: center
        gap: 3px
    &__change-title:hover 
        border-radius: 3px
        background-color: #dbdbdb