.pop-up-header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 8px 19px
    border-bottom: 1px solid #999999
    &__title
        font-size: 32px
    &__input
        font-size: 32px
    &__edit-card
        display: flex
        gap: 5px
    &__close
        position: absolute
        top: 10px
        left: 10px