.comment
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 16px
    white-space: pre-wrap
    &__user-name
        font-weight: 600
    &__controls
        display: flex
    &__textarea
        flex: 1
        resize: none
        overflow-y: hidden
        min-height: 50px
        max-height: none
        border: 1px solid #999
        outline: 0
        font: inherit
    &__text
        display: flex
        flex: 1
        flex-direction: column