.app 
  display: flex
  justify-content: center
  min-height: 100vh


.button
    display: block
    border: 0
    background-color: transparent
    padding-inline: 0
    padding-block: 0
    line-height: 0
    &:hover
        cursor: pointer

*
  margin: 0
  padding: 0
  box-sizing: border-box